#For development use alone

spring.application.name=""
spring.datasource.url=""
spring.datasource.password=""
spring.datasource.username= ""
app.admin.username=""
app.admin.email=""
app.admin.password=""
app.admin.role=""
spring.jpa.hibernate.ddl-auto=""
spring.jpa.show-sql=""
spring.jpa.properties.hibernate.dialect=""
jwt.secret=""
jwt.expiration=""
daily.co.api-key=""
